
.Toaster {
	--width: unset !important;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0 20px;

	&[data-x-position="center"] {
		justify-content: center;
	}

	&[data-x-position="left"] {
		justify-content: flex-start;
	}

	&[data-x-position="right"] {
		justify-content: flex-end;
	}
}

.radial-gradient {
	background: radial-gradient(
		circle,
		hsla(240, 4.8%, 95.9%, 0.7) 0%,
		transparent 100%
	);
}

.shake {
	animation: shake 0.5s ease-in-out;
}
@keyframes shake {
	0% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(-3px);
	}

	40% {
		transform: translateX(3px);
	}

	60% {
		transform: translateX(-3px);
	}

	80% {
		transform: translateX(3px);
	}

	100% {
		transform: translateX(0);
	}
}

.custom-pointers .react-colorful__saturation-pointer {
	width: 20px;
	height: 20px;
	border-radius: 2px;
	border-width: 3px;
	border-color: #423e2e;
	background-color: #423e2e;
}

.custom-pointers .react-colorful__pointer-fill {
	border-radius: 0;
}

.custom-pointers .react-colorful__hue-pointer {
	width: 16px;
	height: 30px;
	border-radius: 2px;
	border-color: #423e2e;
	background-color: #423e2e;
	border-width: 3px;
}

.custom-pointers .react-colorful__alpha-pointer {
	width: 18px;
	height: 30px;
	border-radius: 2px;
	border-color: #423e2e;
	background-color: #423e2e;
	border-width: 3px;
}

.custom-pointers .react-colorful {
	border-radius: 2px;
	background: #33333a;
	box-shadow: 0 6px 12px #999;
}
.custom-pointers .react-colorful__saturation {
  border-radius: 1px 1px 0 0;
}
.custom-pointers .react-colorful__hue {
  height: 30px;
  border-radius: 0 0 1px 1px;
}
