.Toaster {
	--width: unset !important;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0 20px;

	&[data-x-position="center"] {
		justify-content: center;
	}

	&[data-x-position="left"] {
		justify-content: flex-start;
	}

	&[data-x-position="right"] {
		justify-content: flex-end;
	}
}

.shadow-accent {
	box-shadow: -0.4rem 0.4rem 0px #333333;
}
.shadow-accent-sm {
	box-shadow: -0.2rem 0.2rem 0px #333333;
}
.shadow-accent-md {
	box-shadow: -0.3rem 0.3rem 0px #333333;
}

.loader {
	border-radius: 50%;
	display: inline-block;
	border-top: 2px solid #fff;
	border-right: 2px solid transparent;
	box-sizing: border-box;
	animation: rotation 0.75s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
